<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head(title=${album} ? ${album.naam} :
'Album niet gevonden')}"></head>
<body>
<h1 th:if="not ${album}" th:text="|Album ${id} niet gevonden|"></h1>
<th:block th:if="${album}" th:object="${album}">
<!--    <h1 th:text="|*{naam} - *{artiest.naam} (*{jaar}) *{label.naam}|"></h1>
    <a th:href="@{/album/{id}(id=*{id})}"
       th:text="|*{naam} - *{artiest.naam} (*{jaar})|"></a>-->
    <h1>
        <span th:text="|*{naam} - *{artiest.naam} |"></span>
        <a th:href="@{/album/jaar/{jaar}(jaar=*{jaar})}" th:text="*{jaar} "></a>
        <span th:text="*{label.naam}"></span>
    </h1>
    <ul>
        <li th:each="track: ${album.tracks}" th:object="${track}" th:text="|*{naam} *{tijd}|"></li>
    </ul>
    <div th:text="|Totale tijd: ${album.totalTime}|"></div>
    <form th:object="${scoreForm}" method="post" th:action="@{/album/{id}/score(id=${album.id})}">
        <label>Score:<span th:errors="*{score}"></span>
            <input th:field="*{score}" type="number" required value="0" size="2" maxlength="2" min="0" max="10">
        </label>
        <button>Wijzigen</button>
    </form>
</th:block>
</body>
</html>