<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head(title=${album} ? ${album.naam} :
'Pizza niet gevonden')}"></head>
<body>
<th:block th:if="${album}" th:object="${album}">
    <h1 th:text="|*{naam} - *{artiest.naam} (*{jaar}) *{label.naam}|"></h1>
    <ul>
        <li th:each="track: ${album.tracks}" th:object="${track}" th:text="|*{naam} *{tijd}|"></li>
    </ul>
    <div th:text="|Totale tijd: ${album.totalTime}|"></div>
    <form th:object="${scoreForm}" method="post" th:action="@{/album/{id}/score(id=${album.id})}">
        <label>Score:
            <input th:field="*{score}" type="number" required value="0" size="2" maxlength="2" min="0" max="10">
        </label>
        <button>Wijzigen</button>
    </form>
</th:block>
</body>
</html>